/* SECTION */

.block-container {
    width: 1320px;
}

section.banner {
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 81px;
    padding-top: 51px;
    max-width: 1320px;
    height: 352px;
    background-image: url(../images/dang-ky-tu-van/banner-dangkytuvan.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.header-option a button {
    background-color: #dee9fa !important;
}

.container-banner {
    text-align: center;
    height: 100%;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
}

.container-banner p {
    font-family: GilroySemiBold;
}

/* Đăng ký ngay */
.diadiem_container {
    padding: 0 100px;
}

.diadiem {
    margin-top: 45px;
}

.dangky-container {
    width: 100%;
    display: flex;
}

.diadiem p {
    font-family: GilroySemiBold, sans-serif;
    color: #FF4940;
    font-size: 30px;
    line-height: 36px;
}

.so-nha-dangky {
    color: #58595B;
    font-size: 20px;
    line-height: 28px;
}

.phone-dangky {
    margin-bottom: 15px;
}

.phone-dangky-icon {
    margin-right: 12px;
    
}

.content-dangky {
    flex-basis: 100%;
    padding-top: 100px;
}

input.hoten {
    height: 52px;
    border: 1px solid #929497;
    border-radius: 5px;
    padding: 18px 0 18px 26px;
    width: 49%;
}

input.congty {
    width: 100%;
    height: 52px;
    border: 1px solid #929497;
    border-radius: 5px;
    padding-left: 26px;
    margin: 21px 0;
}

.block-hoten-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea.noidung {
    width: 100%;
    height: 200px;
    border: 1px solid #929497;
    border-radius: 5px;
    padding: 18px 5px 18px 26px;
}

/* button send */
.button-send {
    margin-top: 44px;
    margin-bottom: 54px;
}

.gui-ngay {
    height: 46px;
    width: 205px;
    border-radius: 50px;
    border: none;
    background-color: #FF4940;
    font-size: 18px;
    color: #fff;
}

.gui-ngay:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* MAPS */

.maps-img iframe {
    width: 100%;
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1023.9px) {
    section.banner {
        margin-top: 55px;
    }
    
    .container-banner p {
        font-size: 25px;
        line-height: 27px;
    }

    .diadiem_container {
        padding: 0 50px;
    }

    .dangky-container {
        flex-direction: column-reverse;
    }

    .content-dangky {
        padding-top: 50px;
    }

    .button-send {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .diadiem p {
        font-size: 20px;
    }

    .so-nha-dangky {
        font-size: 16px;
    }

    .maps-img {
        margin-top: 20px;
    }













}




/* Mobile */
@media (max-width: 767.9px) {
    section.banner {
        padding: 0;
        margin-top: 61px;
    }

    .diadiem_container {
        padding: 0 35px;
    }

    .container-banner p {
        display: none;
    }

    .dangky-container {
        flex-direction: column-reverse;
    }
    
    .content-dangky {
        padding-top: 20px;
    }

    .gui-ngay {
        font-size: 14px;
        height: 35px;
        width: 160px;
    }

    .block-hoten-email input {
        height: 46px;
        padding: 10px 0 10px 15px;
        width: 100%;
        margin-top: 20px;
    }

    .block-hoten-email {
        flex-direction: column;
    }

    .button-send {
        margin-top: 30px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }

    .diadiem p {
        font-size: 24px;
    }

    .so-nha-dangky {
        font-size: 16px;
        line-height: 22px;
    }

















}