#tintuc-post {
    display: block;
    padding: 0 100px;
}

#tintuc-chitiet {
    display: none;
    padding: 0 100px;
}

/* SECTION */
section.banner {
    margin-top: 81px;
    padding-top: 81px;
    max-width: 1320px;
    height: 445px;
    background-image: url(../images/tin-tuc/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 100px;
}

.banner p {
    font-family: GilroyHeavy, sans-serif;
    font-size: 40px;
    color: #ffffff;
}

/* TINTUC container */
.tintuc-container {
    margin-bottom: 35px;
    padding: 0;
}

.tintuc-container-lienquan {
    padding: 0 100px;
}

.tintuc-main {
    padding-right: 80px !important;
    padding-top: 30px;
}
.tintuc-main-title {
    color: #FF4940;
    font-family: GilroySemiBold, sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.tintuc-main-img img {
    width: 100%;
    border-radius: 7px;
}

.tintuc-time-cmt {
    margin-top: 18px;
    width: 266px;
    margin-bottom: 30px;
}

.tintuc-time {
    border-right: 1px solid #6D6E70;
    padding-right: 35px;
}

.tintuc-time p {
    color: #6D6E70;
    font-size: 18px;
}

.tintuc-cmt p {
    color: #6D6E70;
    font-size: 18px;
}

.tintuc-main-describe p {
    font-family: GilroySemiBold, sans-serif;
    color: #404041;
    font-size: 26px;
    line-height: 31px;
}

.tintuc-cmt-content {
    font-size: 20px;
    color: #58595B;
    line-height: 24px;
}

.tintuc-more:hover {
    cursor: pointer;
    opacity: 0.8;
}

.tintuc-more p {
    color: #58595B;
    font-size: 19px;
    margin-right: 10px;
}

.tintuc-main-note {
    background-color: #F1F1F2;
    padding: 35px 20px 5px 35px;
    margin-top: 30px;
}

.tintuc-main-note p {
    font-size: 18px;
    color: #58595B;
    line-height: 24px;
}

.tintuc-block-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
}

.tintuc-block-list-mobile {
    display: none;
}

.button-list {
    width: 44px;
    height: 44px;
    border: 1px solid #D0D2D3;
    border-radius: 100%;
    margin: 0 8px;
}

.button-list:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* SUB tìm kiếm */
.tintuc-sub {
    padding-top: 105px;
}

.tintuc-search {
    width: 100%;
    height: 52px;
    border: 1px solid #929497;
    border-radius: 50px 50px 50px 50px;
    padding: 0 15px;
}

.tintuc-search input {
    font-size: 20px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0 10px;
}

.tintuc-search input:focus {
    outline: none;
    background-color: transparent;
}

.tintuc-search img:hover {
    cursor: pointer;
}

.tintuc-sub-block {
    margin-top: 40px;
}

.tintuc-sub-title {
    border-bottom: 1px solid #929497;
}

.tintuc-sub-title p {
    font-family: GilroySemiBold, sans-serif;
    font-size: 26px;
    color: #404041;
}

.tintuc-sub-main {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.w-125 {
    width: 125%;
}

.tintuc-sub-main-img img {
    border-radius: 5px;
}

.sub-content-title {
    font-family: GilroyBold, sans-serif;
    font-size: 18px;
    color: #404041;
}

.sub-content-main {
    font-size: 16px;
    color: #58595B;
    line-height: 24px;
}

.phobien-block {
    flex-wrap: wrap;
}

.phobien-content {
    height: 28px;
    padding: 0 15px;
    border-radius: 50px;
    background-color: #F1F1F2;
    color: #58595B;
    font-size: 17px;
    margin-right: 5px;
    margin-bottom: 5px;
}


/* tin tức chi tiết */
.tintuc-main-detail {
    padding-top: 30px;
}

.tintuc-main-detail img {
    width: 100%;
}

.tintuc-main-detail p {
    font-size: 20px;
    color: #58595B;
    line-height: 24px;
    text-align: justify;
}

p.tintuc-main-detail-title {
    font-family: GilroySemiBold, sans-serif;
    color: #404041;
    font-size: 30px;
    line-height: 36px;
    text-align: left;
}

.tintuc-border-bottom {
    width: 100%;
    height: 1px;
    background-color: #808184;
}

.tintuc-share a {
    margin-right: 15px;
}

.tintuc-share p {
    font-family: GilroySemiBold, sans-serif;
    font-size: 20px;
    color: #6D6E70;
    margin-right: 20px;
}

.tintuc-share img {
    margin-right: 10px;
}

.tintuc-sub-detail-block {
    margin-top: 30px;
}

.button-giaiphap {
    width: 205px;
    height: 46px;
    border: none;
    background-color: #ffffff;
    border-radius: 50px;
    margin-top: 100px;
}

button.button-giaiphap p {
    color: #404041;
    font-size: 18px;
}

.sub-giaiphap {
    background-color: #F25151;
    width: 100%;
    padding: 100px 0 20px 20px;
    margin-top: 60px;
    border-radius: 7px;
}


.sub-giaiphap p {
    font-family: GilroySemiBold, sans-serif;
    color: #ffffff;
    font-size: 36px;
    line-height: 44px;
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1023.9px) {
    section.banner {
        margin-top: 55px;
        padding: 0 50px;
        height: 315px;
    }

    .banner p {
        font-size: 26px;
        line-height: 32px;
    }

    #tintuc-post {
        padding: 0 50px;
    }

    .tintuc-main-title {
        font-size: 24px;
        line-height: 28px;
    }

    .tintuc-main {
        padding-right: 40px !important;
    }

    .tintuc-time-cmt {
        width: 200px;
    }

    .tintuc-time {
        padding-right: 20px;
    }

    .tintuc-time p {
        font-size: 15px;
    }

    .tintuc-cmt p {
        font-size: 15px;
    }

    .tintuc-main-describe p {
        font-size: 20px;
        line-height: 24px;
    }

    .tintuc-cmt-content p {
        font-size: 16px;
        line-height: 19px;
    }

    .tintuc-more p {
        font-size: 16px;
    }

    .tintuc-more img {
        height: 16px;
    }

    .tintuc-main-note p {
        font-size: 16px;
    }

    .tintuc-sub-title p {
        font-size: 21px;
    }

    .tintuc-sub.col-4 {
        padding-right: 0;
        padding-left: 0;
    }

    .sub-content-title {
        font-size: 14px;
    }

    .sub-content-main {
        font-size: 13px;
        line-height: 18px;
    }

    .tintuc-sub-main-img img {
        width: 50px;
    }


    /* tin tức chi tiết */

    #tintuc-chitiet {
        padding: 0 50px;
    }

    .tintuc-main-detail img {
        width: 100%;
    }

    p.tintuc-main-detail-title {
        font-size: 20px !important;
        line-height: 24px !important;
    }

    .tintuc-main-detail p {
        font-size: 16px;
        line-height: 19px;
    }
    
    .sub-giaiphap p {
        font-size: 30px;
        line-height: 36px;
    }

    button.button-giaiphap p {
        font-size: 13px;
    }

    .button-giaiphap {
        width: 140px;
    }









}




/* Mobile */
@media (max-width: 767.9px) {
    section.banner {
        margin-top: 61px;
        height: 425px;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .banner p {
        font-size: 24px;
    }


    .tintuc-block {
        flex-direction: column;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .tintuc-main {
        padding-top: 10;
        width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .tintuc-main-title p {
        font-size: 24px;
    }

    .tintuc-time p {
        font-size: 16px;
    }

    .tintuc-cmt p {
        font-size: 16px;
    }

    .tintuc-main-title {
        margin-bottom: 10px;
    }

    #tintuc-post {
        padding: 0 35px !important;
    }

    .tintuc-main {
        padding-right: 0;
    }

    .tintuc-time-cmt {
        width: 240px;
    }

    .tintuc-main-describe p {
        font-size: 24px;
        line-height: 27px;
    }

    .tintuc-cmt-content p {
        font-size: 16px;
    }

    .tintuc-more p {
        font-size: 16px;
    }

    .tintuc-more img {
        height: 15px;
    }

    .tintuc-sub {
        padding-top: 30px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        width: 100% !important;
    }

    .tintuc-block-list {
        display: none;
        height: 33px;
    }
    
    .tintuc-block-list-mobile {
        display: flex;
    }




    /* Tin tức chi tiết */

    p.tintuc-main-detail-title {
        font-size: 24px !important;
        line-height: 29px !important;
    }

    .tintuc-main-detail p {
        font-size: 16px;
        line-height: 19px;
    }

    .tintuc-main-detail img {
        width: 100% !important;
        height: auto !important;
    }
    
    #tintuc-chitiet {
        padding: 0 35px;
    }

    .tintuc-main-detail {
        width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .tintuc-container-lienquan {
        padding: 0 35px;
    }

    .tintuc-main-detail img {
        
    }

    .tintuc-content {
        flex-direction: column;
        height: auto;
        padding-left: 10px;
    }

    .tintuc-share a img {
        height: 22px !important;
        width: auto !important;
        margin-right: 15px;
    }

    .tintuc-img {
        width: auto;
    }

    .tintuc-sub-detail-block-container {
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 100% !important;
    }

    .tintuc-sub-title p {
        font-size: 24px;
    }

    .sub-giaiphap {
        display: none;
    }

    .tintuc-container-lienquan {
        padding: 0 !important;
    }

    .tintuc-describe {
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .tintuc-next {
        width: 100%;
        justify-content: center;
        flex-direction: initial;
    }

    .footer-header-block {
        margin-top: 0;
    }






    
}